<div class="modal fade" id="are_you_sure">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Are you sure?</h5>
            </div>
            <div class="modal-body">
                <p>Are you sure?</p>
            </div>
            <div class="modal-footer">
                <button id="confirm_button" type="button" class="btn btn-primary">Delete</button>
                <button id="cancel_button" type="button" class="btn btn-primary">Cancel</button>
            </div>
        </div>
    </div>
</div>