<form>
    <fieldset>
        <div class="form-group">
            <div id="new_concept_panel">
                <input type="text" class="form-control" id="concept" aria-describedby="conceptHelp" placeholder="What do you want to create?">
                <small id="conceptHelp" class="form-text text-muted"> Enter a word to create the object, eg. 'sword'</small>
            </div>
            <div class="alert alert-dismissible alert-primary">
                <h4 style="margin-bottom:0px" class="concept_name"></h4>
            </div>
        </div>
    </fieldset>
</form>
