<div>
    <div id="categories">
        <p>Please Categorize <i class="concept_name"></i></p>
        <input id="object_isa" class="form-control" type="text" />

        <p></p>
        <div class="loading" style="display:none"><img src="loading_transparent.gif" style="width:24px; height: auto;"></div>
        <div id="object_suggestions">
        </div>
    </div>

    <p></p>
    <div class="modal-footer">
        <button id="next_button" type="button" class="btn btn-primary">Next <i class="fas fa-angle-double-right"></i></button>
    </div>
</div>