<div class="container-fluid">
    <div class="row flex-nowrap">
        <div class="col-md-4 col-12 sidebar nopadding text-center"></div>
        <div class="col-md col-10 main pa-1">
            <div class="row mt-2">
                <div class="col nopadding">
                    <img src="https://via.placeholder.com/70x70?text=..." class="rounded suggestion" />
                </div>
                <div class="col nopadding">
                    <img src="https://via.placeholder.com/70x70?text=..." class="rounded suggestion" />
                </div>
                <div class="col nopadding">
                    <img src="https://via.placeholder.com/70x70?text=..." class="rounded suggestion" />
                </div>
            </div>
        </div>
        <div class="col col-10 sidebar nopadding text-center"></div>
    </div>

    <div class="row flex-nowrap">
        <div class="col-md-4 col-12 sidebar nopadding text-center align-self-center">
            <i id="previous_page" class="fa fa-angle-left"></i>
        </div>
        <div class="col-md col-10 main pa-1">
            <div class="row mt-2">
                <div class="col nopadding">
                    <img src="https://via.placeholder.com/70x70?text=..." class="rounded suggestion" />
                </div>
                <div class="col nopadding">
                    <img src="https://via.placeholder.com/70x70?text=..." class="rounded suggestion" />
                </div>
                <div class="col nopadding">
                    <img src="https://via.placeholder.com/70x70?text=..." class="rounded suggestion" />
                </div>
            </div>
        </div>
        <div class="col col-10 sidebar nopadding text-center align-self-center">
            <i id="next_page" class="fa fa-angle-right"></i>
        </div>
    </div>

    <div class="row flex-nowrap">
        <div class="col-md-4 col-12 sidebar nopadding text-center">
        </div>
        <div class="col-md col-10 main pa-1">
            <div class="row mt-2">
                <div class="col nopadding">
                    <img src="https://via.placeholder.com/70x70?text=..." class="rounded suggestion" />
                </div>
                <div class="col nopadding">
                    <img src="https://via.placeholder.com/70x70?text=..." class="rounded suggestion" />
                </div>
                <div class="col nopadding">
                    <img src="https://via.placeholder.com/70x70?text=..." class="rounded suggestion" />
                </div>
            </div>
        </div>
        <div class="col col-10 sidebar nopadding text-center">
        </div>
    </div>
    <hr />
    <div class="row mt-2 preview_container" style="display:none;">
        <div class="col col-10 sidebar nopadding text-center align-self-center">
            <i id="select_button" class="fas fa-check-circle"></i>
        </div>
        <div style="background-color: ghostwhite" class="rounded mx-auto ">
            <img src="https://via.placeholder.com/150x150?text=..." class="rounded mx-auto preview" />
        </div>
        <div class="col col-10 sidebar nopadding text-center align-self-center">
            <i id="vary_button" class="fas fa-exchange-alt"></i>
        </div>
    </div>
</div>