<div>
    <p>Enter a description of <i class="concept_name"></i></p>
    <textarea class="form-control" rows="5" id="comment"></textarea>
    <p></p>
    <div class="modal-footer">
        <button id="skip_button" type="button" class="btn btn-primary">Skip</button>

        <div id="success_ui" style="display:none">
            
            <div class="alert alert-dismissible alert-secondary">
                <strong>Nice!</strong> Successfully created <strong class="concept_name"></strong>.
                <p></p>
                <button id="edit_button" type="button" class="btn btn-primary">Edit Ontology</button>
            </div>

            <button id="done_button" type="button" class="btn btn-primary pull-right">Done</button>
        </div>
    </div>
</div>